.section-about
    margin: 165px auto 155px
    
.section__photo
    width: 37%
    height: auto
    margin-right: 30px

.section__image
    width: 100%
    height: auto

.section__info
    width: 56%
    margin-right: 30px
