@import "vars"

@media only screen and (max-width : 1200px)
  .product__info
    padding-top: 15px
  .product__description
    margin-bottom: 10px

@media only screen and (max-width : 992px)
  .header__wrapper
    max-width: 748px
  .section__photo, .section__info
    margin: 0 15px

@media only screen and (max-width : 768px)
  .section-events__info 
    padding-top: 0px
  .product__item
    flex-wrap: no-wrap
    flex-direction: row
    height: 400px
  .product__photo
    width: 100%
    height: 60%
  .product__info
    width: 100%
    height: 40%
  .product__wrapper
    grid-template-columns: 1fr
  .section-advantages
    padding: 105px 0 160px
  .features__item
    width: 80%
    margin-bottom: 40px
    &:last-child
      margin-bottom: 0
  .features
    justify-content: center
  .feature__title
    text-align: center
  .feature__description
    text-align: justify

@media only screen and (max-width: 600px)
  .section__photo
    margin-bottom: 30px
  .section__photo, .section__info
    width: 80%
  .section__title, .section__sub-title
    text-align: center
  .section-about 
    margin: 100px auto 0px
  .section-events__info 
    padding-top: 80px
  .section__photo 
    margin: 20px 0 15px
  .section-events 
    margin-bottom: 60px
  .section__description
    text-align: justify
  .product__item
    height: 500px

@media only screen and (max-width : 480px)
  .header-page
    height: 100% !important
  .header__logo 
    margin: 0 auto 40px
  .header__wrapper 
    padding-bottom: 25px
  .promo__title, .promo__welcome-text
    margin-bottom: 25px
  .button__navigate
    width: 55px
    height: 55px
    bottom: 30px
    right: 30px
  .product__item
    height: 550px
  .section-advantages
    padding: 105px 0 100px



@media only screen and (max-width : 320px)
  .promo__title
    font-size: 60px
    line-height: 70px
  .promo__title, .promo__welcome-text
    margin-bottom: 25px