doctype html
html
    head
        meta(charset="utf-8")
        title AgriPlus site
        meta(http-equiv="X-UA-Compatible" content="IE = edge")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        meta(name="description" content="")
        meta(property="og:image" content="path_to_image")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
        meta(name="apple-mobile-web-app-status-bar-style" content="#fff")
        meta(name="theme-color" content="#ffffff")

    body
        div
        header.header-page(style="background-image: url(img/header/background.jpg)")
            .header__wrapper.container
                .logo.header__logo(style="background-image: url(img/logo.png)")
                    a.logo__link(href="index.html" alt="AgriPlus company")
                .promo.header__promo
                    p.promo__welcome-text welcome to
                    h1.promo__title agriexpo 2018
                    p.promo__sub-title int'l exhibition for agricultural products and services
                    p.promo__text Doliuyas aboriosam nisiut aliquiea commodi consequis autem vel eum iure reprehenderit
                    a.button.promo__button(href="#") Join now

        main.main-page
            section.section.section-about
                .section__wrapper_flex.container
                    .section__photo
                        img.section__image(src="img/section-about/image-1.jpg", alt="About image")
                    .section__info
                        h2.section__title about exhibition
                        p.section__sub-title showcasing the latest achievements in agriculture
                        p.section__description
                            | Kitaesaert tasetruse aplirde neafaese mikertyu eraneo. Nsatole rnatur aut oditaut miertase vertas. Ceasnseq usauntur magni doloresi eo qui ratione voluptate msequi nesciuque porro quisqu ameo slomas felerereta brease kuytras malorem ipsum, quiadesa dolores. Besit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. ut enim ad minima veniam.
            
            section.section.section-events
                .section__wrapper_flex.container
                    .section__photo.section-events__photo
                        img.section__image(src="img/section-events/image-1.jpg", alt="Events image")
                    .section__info.section-events__info
                        h2.section__title latest event information
                        p.section__sub-title a place where agricultural experts meet and share their opinions
                        p.section__description
                            | Lemikertyu eraneomieras. Kitaesaert tasetruse aplirde neafaes dolas satole rnatur aut oditaut miertase vertas. Ceasnseq usauntur magni doloresi que porro quisqu ameo slomas felerereta breo qui ratione voluptate msequi nesciuea rtuytasotytas quiadesa dolore se kuytras malorem. Asersit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.
            
            section.section.section-gallery
                .gallery__wrapper
                    .gallery
                        .gallery-item
                            .gallery-item__image(style="background-image: url(img/section-gallery/image-1.jpg)")
                                .gallery-item__info
                                    h2.gallery-item__title progressive solutions
                                    h3.gallery-item__sub-title cutting-edge technologies
                                    a(href="#").button.button_transparent view gallery
                        .thumbnails
                            div.thumbnail__item
                                img.thumbnail__image(src="img/section-gallery/image_thumb-1.jpg", alt="progressive solutions" data-sub="cutting-edge technologies")
                            div.thumbnail__item
                                img.thumbnail__image(src="img/section-gallery/image_thumb-2.jpg", alt="rural development" data-sub="improving life quality")
                            div.thumbnail__item
                                img.thumbnail__image(src="img/section-gallery/image_thumb-3.jpg", alt="organic agriculture" data-sub="transforming farming practices")
                            div.thumbnail__item
                                img.thumbnail__image(src="img/section-gallery/image_thumb-4.jpg", alt="fertilizers & chemicals" data-sub="better conditions for plants")
                            div.thumbnail__item
                                img.thumbnail__image(src="img/section-gallery/image_thumb-5.jpg", alt="agricultural machinery" data-sub="powerful tools & equipment")
                            div.thumbnail__item
                                img.thumbnail__image(src="img/section-gallery/image_thumb-6.jpg", alt="biotechnology" data-sub="world-class research advancements")
                            div.thumbnail__item
                                img.thumbnail__image(src="img/section-gallery/image_thumb-7.jpg", alt="irrigation" data-sub="water technologies for agricultur")

            section.section.section-products
                .section__wrapper.container
                    h2.section__title.section__title_white.section__title_center popular products
                    h3.section__sub-title.section__sub-title_uppercase.section__sub-title_center 
                        | learn more about the products offered by the participants of agriplus
                    .product__wrapper
                        .product__item
                            .product__photo(style="background-image: url(img/section-products/image-1.jpg)")
                            .product__info
                                .product__name grapes
                                .product__description
                                    | Kitaesaert tasetruse apreler icaserde neafaese mikeryusa eraneo. Nsatolernatur auts oditaut miertase vertas.
                                a(href="#").product__link
                        .product__item
                            .product__photo(style="background-image: url(img/section-products/image-2.jpg)")
                            .product__info
                                .product__name watermelon
                                .product__description
                                    | Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.
                                a(href="#").product__link
                        .product__item
                            .product__photo(style="background-image: url(img/section-products/image-3.jpg)")
                            .product__info
                                .product__name bananas
                                .product__description
                                    | Voluptate equi nesciuque porro quise ameras dolomas felerereta ease kuytras mias sertqui dolorem ipsum.
                                a(href="#").product__link
                        .product__item
                            .product__photo(style="background-image: url(img/section-products/image-4.jpg)")
                            .product__info
                                .product__name apples
                                .product__description
                                    | Measnseq usauntur magni dolores eoqui ratione oluptate msequi nesciuq porro uisqu ameras dolomas feletas.
                                a(href="#").product__link
            
            section.section.section-advantages(style="background-image: url(img/section-advantages/background.jpg)")
                .section__wrapper.container
                    h2.section__title.section__title_white.section__title_center our advantages
                    h3.section__sub-title.section-sub-title_yellow.section__sub-title_center a few reasons why you should attend our exhibition
                    .features
                        .features__item
                            h4.feature__title meet industry leaders
                            p.feature__description    
                                | nsatolertur autitaut miertase vertas. veasnseq usau ntur magni dolores eoui quisqu ameras dolomas. lertasa boutras felerereta sease kuytras masert qui dolorem ipsum, quiadesa dolores.  
                        .features__item
                            h4.feature__title raise awareness
                            p.feature__description
                                | detaesaert tase aplicaserde neafaese mirtyu erane nsatolernatur aut oditaut miertase vas gytrase nyras. snse magni dolores eo qui ratione. voluptate msequi nesciuque porro quisqu ameras.      
                        .features__item
                            h4.feature__title get more customers
                            p.feature__description 
                                | leasnseq usauntur magnilores eo quide ratione voluptate msequi nesciuque porros bdygfas sease kuytras masertqui dolorem ipsum, quiade samertas delouytas belolores.    
            
                
            
    

        script(src="js/jquery.min.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")
