doctype html
html
    head
        meta(charset="utf-8")
        title AgriPlus site
        meta(http-equiv="X-UA-Compatible" content="IE = edge")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        meta(name="description" content="")
        meta(property="og:image" content="path_to_image")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
        meta(name="apple-mobile-web-app-status-bar-style" content="#fff")
        meta(name="theme-color" content="#ffffff")

    body
        div
        header.header-page(style="background-image: url(img/header/background.jpg)")
            .header__wrapper.container
                .logo.header__logo(style="background-image: url(img/logo.png)")
                    a.logo__link(href="index.html" alt="AgriPlus company")
                .promo.header__promo
                    p.promo__welcome-text WELCOME TO
                    h1.promo__title AGRIEXPO 2018
                    p.promo__sub-title INT'L EXHIBITION FOR AGRICULTURAL PRODUCTS AND SERVICES
                    p.promo__text Doliuyas aboriosam nisiut aliquiea commodi consequis autem vel eum iure reprehenderit
                    a.button.promo__button(href="#") Join now

        main.main-page
            section.section.section-about
                .section__wrapper.container
                    .section__photo
                        img.section__image(src="img/section-about/image-1.jpg", alt="About image")
                    .section__info
                        h2.section__title ABOUT EXHIBITION
                        p.section__sub-title SHOWCASING THE LATEST ACHIEVEMENTS IN AGRICULTURE
                        p.section__description
                            | Kitaesaert tasetruse aplirde neafaese mikertyu eraneo. Nsatole rnatur aut oditaut miertase vertas. Ceasnseq usauntur magni doloresi eo qui ratione voluptate msequi nesciuque porro quisqu ameo slomas felerereta brease kuytras malorem ipsum, quiadesa dolores. Besit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. ut enim ad minima veniam.
            
            section.section.section-events
                .section__wrapper.container
                    .section__photo.section-events__photo
                        img.section__image(src="img/section-events/image-1.jpg", alt="Events image")
                    .section__info.section-events__info
                        h2.section__title LATEST EVENT INFORMATION
                        p.section__sub-title A PLACE WHERE AGRICULTURAL EXPERTS MEET AND SHARE THEIR OPINIONS
                        p.section__description
                            | Lemikertyu eraneomieras. Kitaesaert tasetruse aplirde neafaes dolas satole rnatur aut oditaut miertase vertas. Ceasnseq usauntur magni doloresi que porro quisqu ameo slomas felerereta breo qui ratione voluptate msequi nesciuea rtuytasotytas quiadesa dolore se kuytras malorem. Asersit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.
            
        


        script(src="js/jquery.min.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")
